<div class="ACPContainer">

<h1>Listing cities</h1>

<table>
  <tr>
    <th>ID</th>
    <th>Name</th>
  </tr>

<% @cities.each do |city| %>
  <tr>
        <td><%= city.id %></td>
    <td><%= city.name %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Trip', new_trip_path %>

</div>
