<!DOCTYPE html>
<html>
<head>
  <title>Railstest</title>
  	<%= stylesheet_link_tag "application" %>
	<%= javascript_include_tag "application" %> 
	<%= csrf_meta_tags %>
</head>
<body>


<h1>Journey Planner</h1>
<h5>plan your megabus trip right</h5>


<%= yield %>

</body>
</html>
