<!DOCTYPE html>
<html>
<head>
  <title>uberMegaBus</title>
  	<%= stylesheet_link_tag "application" %>
	<%= javascript_include_tag "application" %> 
	<%= csrf_meta_tags %>
	<link href='http://fonts.googleapis.com/css?family=Corben:400,700' rel='stylesheet' type='text/css'>
</head>
<body>


<h1 align="center"><span style="color:white">uber</span>Megabus</h1>
<h4 align="center">plan your megabus trip right</h4>


<%= yield %>

</body>
</html>
